<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Early Summer 2019</h4>
                                    <h4 class="subheading">World of Beer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Steiner and Mike, from the UK, visited a bar in Columbus Ohio for a business trip. They were amazed by the 50+ taps offering beer from so many local breweries, something they'd never seen anywhere in the UK.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Late Summer 2019</h4>
                                    <h4 class="subheading">Return to America</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> After several return trips, the idea was born: Bring this beer adventure to the rest of the world, and share craft beer from the USA and Canada.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2019</h4>
                                    <h4 class="subheading">Founding</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Craft Guys Trading Company was formed in the UK.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2020</h4>
                                    <h4 class="subheading">First Shipment</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The first shipment of beer from the Back Forty Beer Company out of Gadsden, Alabama was sent to the UK.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>