<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <a href="https://www.brewersassociation.org/">
                        <img src="img/logos/brewers_assoc.jpg" class="img-responsive img-centered icba" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <a href="https://www.brewersassociation.org/independent-craft-brewer-seal/">
                        <img src="img/logos/independent_craft.jpg" class="img-responsive img-centered icba" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>