<footer>
    <div class="container">
        <div class="row">            
            <span class="copyright">&copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>            
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <a href="https://astoria.consulting">
                    <img src="img/astoria.png" class="img-responsive img-centered logos" alt="">
                </a>
            </div>            
            <div class="col-md-4 col-sm-4 col-xs-4">
                <a href="https://www.brewersassociation.org/">
                    <img src="img/logos/brewers_assoc.jpg" class="img-responsive img-centered logos" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <a href="https://www.brewersassociation.org/independent-craft-brewer-seal/">
                    <img src="img/logos/independent_craft.jpg" class="img-responsive img-centered logos" alt="">
                </a>
            </div>       
        </div>
    </div>
</footer>
