<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Distribution</h4>
                    <p class="text-muted">Businesses buy our beer for their bar, festival, or event.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-ship fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Importing and Exporting</h4>
                    <p class="text-muted">We are the only exporter to ship Small Business American Craft Beverages to the United Kingdom.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Direct Consumer Beverage Sales</h4>
                    <p class="text-muted">Consumers will use our E-Commerce platform (Coming Soon) to buy beer directly.</p>
                </div>
            </div>
        </div>
    </section>